.btn{
  $btn:&;
  border: none;
  font-family: 'AvenirHeavy';
  outline: none;
  text-align: center;
  display: inline-block;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  &:active,
  &:focus{
    outline: none;
  }
  &__inner{
    border-radius: 20px;
    line-height: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      text-transform: uppercase;
      font-size: 14px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-weight: 900;
      position: relative;
      top: 1px;
      text-align: center;
      color: $whitePrimary;
    }
  }

  &--small{
    border-radius: 12px;
    #{$btn}{
      &__inner{
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.25);
        line-height: 22px;
        height: 22px;
        span{
          font-size: 12px;
        }
      }
    }
  }

  &--primary,
  &--transparent,
  &--exit{
    width: 200px;
    #{$btn}{
      &__inner{
        position: relative;
        @include backgroundImg;
      }
    }
  }

  &--primary{ 
    background: linear-gradient(to right, #cc7f30,#eebb3f, #fcf2df, #cc7f30);
    #{$btn}{
      &__inner{
        box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.5);
        background-image: url(../img/btn-primary.svg);
        &-shine{
          width: 100%;
          animation: shineAnimation 6s cubic-bezier(.12,.89,.98,.47) infinite;
        }
      }
    }
  }

  &--exit{
    background: linear-gradient(to right, #cc7f30,#eebb3f, #fcf2df, #cc7f30);
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    #{$btn}{
      &__inner{
        background-image: url(../img/btn-exit.svg);
        span{
          text-transform: capitalize;
        }
      }
    }
  }

  &--transparent{
    #{$btn}{
      &__inner{
        background: none;
        background-color: #020121;
        span{
          color: #f0c177;
        }
      }
    }
  }

  &--answer{
    padding: 1px;
    color: $primaryColor;
    width: 100%;
    background: linear-gradient(to right, #edb836,#fdf8ef, #cc7f30);
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    #{$btn}{
      &__inner{
        line-height: 40px;
        height: 40px;
        padding: 0 16px;
        background: $secondaryColor;
        justify-content: flex-start;
        span{
          text-transform: capitalize;
          text-shadow: none;
          top: 0;
          text-align: left;
          color: #f0c177;
        }
      }
    }
  }

  &--score{
    overflow: hidden;
    background: linear-gradient(to right, #F7E7CE,#F0C55C, #D18932, #F0C55C, #F7E7CE);
    #{$btn}{
      &__inner{
        line-height: 32px;
        background-color: #000;
        height: 32px;
        padding: 0 16px;
        span{
          color: #f0c177;
        }
      }
    }
  }

  &--price{
    background: transparent;
    width: 117px;
    margin-top: 24px;
    @include backgroundImg;
    background-size: contain;
    background-image: url(../img/btn-price.svg);
    #{$btn}{
      &__inner{
        background: rgba(78,77,100,0.0);
        span{
          text-transform: capitalize;
        }
      }
    }
  }
}