.overlay{
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(6,6,6,.8);
  transition: all ease .3s;
  &--show{
    opacity: 1;
    z-index: 10;
  }
}

.dialog{
  $dialog:&;
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &--show{
    opacity: 1;
    z-index: 10;
    transition: opacity .1s ease-in;
    #{$dialog}{
      &__container{
        transition: transform ease .35s;
      }
    }
  }
  &--close{
    #{$dialog}{
      &__container{
        transition: transform ease .3s;
      }
    }
  }
  &--back{
    #{$dialog}{
      &__inner{
        text-align: center;
        background-image: linear-gradient(to bottom, #314962,#0B3F86,#0B3F86);
      }
      &__desc{
        margin: 0 0 24px;
      }
    }
  }
  &--reward{
    #{$dialog}{
      &__inner{
        text-align: center;
        background-image: linear-gradient(to bottom, #2D455C,#0C2E5F,#0A367A);
      }
      &__desc{
        margin: 0 0 16px;
      }
    }
  }
  &__container{
    position: relative;
    max-width: 272px;
    transition: transform ease .3s;
  }
  &__content{
    padding: 0 2px;
    // box-shadow: 0 0 22px 0 rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right, #edb836,#fdf8ef,#F5E5D1);
    position: relative;
  }
  &__inner{
    padding: 24px 16px;
    &--star{
      padding-top: 36px;
      padding-bottom: 16px;
      position: relative;
      background-image: linear-gradient(to bottom, #012747, #02162C);
    }
  }
  &__close{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 6px;
    top: -3px;
    z-index: 3;
    &::before,
    &::after{
      content: '';
      width: 2px;
      height: 16px;
      position: absolute;
      display: block;
      border-radius: 4px;
    }

    &::before{
      transform: rotate(45deg);
      background: linear-gradient(to bottom, #eebb3f,#fcf2df);
    }

    &::after{
      transform: rotate(135deg);
      background: linear-gradient(to top, #eebb3f,#fcf2df);
    }
  }
  &__shield{
    &-top{
      width: 100%;
      display: block;
      position: absolute;
      z-index: 1;
      top: -20px;
      // left: -6px;
    }
    &-bottom{
      width: 100%;
      display: block;
      position: absolute;
      z-index: 2;
      // bottom: -64px;
      bottom: -60px;
    }
  }
  &__title{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: $f16;
    font-weight: 900;
    margin: 0 0 8px;
  }
  &__desc{
    font-size: $f14;
    font-weight: 900;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 1.43;
  }
  &__star{
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    &-icon{
      @include backgroundImg;
      background-image: url(../img/star.png);
      width: 64px;
      height: 64px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
    }
    // &-line{
    //   width: 99px;
    //   height: 15px;
    //   background-image: linear-gradient(to right, #BF9332 ,#F8E2B0, #F8E2B0)
    // }
    &::before,
    &::after{
      content: '';
      display: block;
      width: 99px;
      height: 33px;
      position: absolute;
      z-index: 1;
      top: 12px;
      @include backgroundImg;
      background-image: url(../img/star-line.svg);
    }

    &::before{
      left: 40px;
      transform: rotateX(180deg);
    }
    
    &::after{
      right: 40px;
    }
  }

  .coupon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -20px;
    &__list{
      max-width: 50%;
      img{
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}