.landing-page{
  position: relative;
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.36);
    background-image: radial-gradient(circle at 9% 67%, #2a2e69, #181035);
    color: $whitePrimary;
    font-size: 10px;
    &--show{
      .landing-page{
        &__info{
          &-text{
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
    &-text{
      opacity: 0;
      transform: translateY(-25px);
      transition: all .5s ease-out;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      div{
        padding-right: 3px;
        &:first-child{
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    &-num{
      display: flex;
      align-items: center;
      margin-left: 5px;
      &::before{
        content: '';
        display: block;
        width: 8px;
        height: 11px;
        margin-right: 4px;
        @include backgroundImg;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAhCAYAAADDAmudAAAAAXNSR0IArs4c6QAAAfFJREFUSA3dlrtKA0EUhrMqaGEwWijYaLCzsLDwAYKFiIKVIAix8Q20sfCCT2DlG/gAImJhq6ioAUELb2gjIhiDCiGFid8viUnMzO4mmzQe+MjsOXP+MzM7M9lQyMNyuVwEluAQXuEDErAGYY909zACE5ACmz0QiLmrWKIkTsGXTbnEn6VdXRESukHL4dc0E+NyNVkmMI+/yxIzuftwLpgCRh+jOfM79JJ+CZOYY3KS9IY/Yoq5+D4dx6lYJtsStbgI2UJpU8BW4NbU2cN3ZYrbCmybOnv49j3ixTDvIAzaen7thY7tRQUfLRJioEPkZRk6TPqQrOxCooq4zSRJfKwyswoPAlouXWy64HTR6YQfwSJUbMsqpOvT1XjQJM3odPxnYBwGoAeaQZaFZ9B23oMtDtkjv96GcCusQBr8mvouQ6trBTpE4QZqtWsS+41FCPTCXa3KJXnS6C0rgsOBk5JOQZvH0vwtwsNcUEVDflwFNHK9mHson5aiweyJ9Kguu2mot7iGJs1pFZjVU4MsriVKId7RoALvmoHtP6EeNTMSP62HkkXjQAU2LMGg7hwCmz8ivId1wz4O6lotGyFqo7AL1Vxyfweh3B0YKYgXj3PeQ7CN5hAM5xnkV195nVD4VtLO07dTEi7hPM8F13aG9j+yb5Zy03m4IE1rAAAAAElFTkSuQmCC');
      }
    }
    &--show{
      &-text, &-num{
        opacity: 0;
        transform: translateY(-25px);
        transition: all .5s ease-in-out;
      }
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        &:first-child{
          margin-right: 16px;
        }
      }
    }
  }
  &__container{
    height: calc(100vh - 30px);
    @include backgroundImg;
    background-position: top;
    background-image: url(../img/main.jpg);
  }
  &__logo{
    display: block;
    max-width: 80%;
    height: auto;
    position: relative;
  }
  &__title{
    margin: 0 0 24px;
    width: 80%;
    position: relative;
    top: -18px;
    text-align: center;
    span{
      position: relative;
      top: 15px;
      z-index: 2;
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    &-spark{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      display: block;
      width: 100%;
      height: 60px;
      @include backgroundImg;
      background-image: url(../img/quiz-bg.png);
      animation: zoomIn 2.5s linear .2s infinite normal forwards;
      @include breakpoint(sm){
        background-size: 300px;
      }
      @include breakpoint(xs){
        background-size: cover;
      }
      @include keyframes(zoomIn){
        0%{
          transform: scale(1);
          opacity: 1;
        }
        50%{
          transform: scale(.9);
          opacity: .78;
        }
        100%{
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    
  }
  &__action{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__desc{
    font-size: 12px;
    font-weight: 900;
    color: $whitePrimary;
    opacity: .7;
    margin: 0 0 8px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-btn{
      text-align: center;
    }
  }
}
