.icon{
  display: flex;
  align-items: center;
  &::before{
    content: '';
    display: block;
    @include backgroundImg;
  }
  &--price{
    &::before{
      background-image: url(https://cdn.tokopedia.net/play-groupchat/assets/img/price.svg);
      width: 16px;
      height: 16px;
      margin-right: 4px;
      position: relative;
      top: -1px;
    }
  }
  &--leaderboard{
    &::before{
      background-size: unset;
      background-image: url(https://cdn.tokopedia.net/play-groupchat/assets/img/marvel/leaderboard-icon2.svg);
      width: 16px;
      height: 16px;
      margin-right: 4px;
      position: relative;
      top: -1px;
    }
  }
}