.menu{
  padding: 16px 16px 0;
  @include breakpoint(sm){
    padding: 32px 32px 0;
  }
  &__action{
    &::before{
      content: '';
      display: block;
      width: 29px;
      height: 29px;
      @include backgroundImg;
    }

    &--back{
      &::before{
        background-image: url(../img/back.svg);
      }
    }
    &--leaderboard{
      &::before{
        background-image: url(../img/leaderboard.svg);
      }
    }
    &--share{
      &::before{
        background-image: url(../img/share.svg);
      }
    }
  }
  &__score{
    // min-width: 29px;
    border-radius: 14.5px;
    height: 29px;
    line-height: 29px;
    padding: 0 8px;
    background-color: #011b32;
    span{
      font-size: 20px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      // background-image: radial-gradient(circle at 50% 29%, #eebb3f, #fcf2df);
      background-image: linear-gradient(to bottom, #eebb3f 10%, #fcf2df 90%);
      font-weight: 900;
      letter-spacing: 1px;
    }
  } 
}