.quiz{
  height: 100vh;
  @include backgroundImg;
  background-position: top;
  background-image: url(../img/bg-quiz.jpg);
  @include breakpoint(sm){
    background-image: url(../img/bg-quiz-ipad.jpg);
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    animation: fadeIn .4s ease forwards;
    &--hide{
      animation: fadeOut .4s ease forwards;
    }
    .menu{
      &__action{
        &--back{
          position: absolute;
          left: 0;
        }
      }
    }
  }
  &__time{
    width: 56px;
    height: 56px;
    background-color: $secondaryColor;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__start{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 15px 44px;
    animation: fadeIn .2s ease;
    .start{
      &__txt{
        text-shadow: 0 0 8px #000000;
        font-size: 16px;
        font-weight: 900;
        max-width: 225px;
        margin: 0 auto;
        text-align: center;
      }
      &__timer{
        position: relative;
        text-align: center;
        margin-top: 40px;
        &-moon{
          @include backgroundImg;
          background-image: url(../img/oval.svg);
          position: absolute;
          width: 150px;
          height: 75px;
          top: -18px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: all ease .38s;
        }
        &-spark{
          position: absolute;
          top: 35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          z-index: 1;
          display: block;
          width: 100%;
          height: 60px;
          transform: scale(.9);
          @include backgroundImg;
          background-image: url(../img/spark-countdown.png); 
          animation: zoomIn 2.1s ease 1.9s infinite normal forwards;
          @include keyframes(zoomIn){
            0%{
              transform: scale(.9);
              opacity: 1;
            }
            50%{
              transform: scale(1);
              opacity: .9;
            }
            100%{
              transform: scale(.9);
              opacity: 1;
            }
          }
        }
        &-num{
          display: inline-block;
          position: relative;
          text-align: center;
          background-image: radial-gradient(circle at 50% 0, #edb836, #fdf8ef 79%, #cc7f30);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 116px;
          font-weight: 900;
          margin: 0;
        }
      }
    }
  }
  &__content{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 560px;
    animation: fadeInSlide .4s ease forwards;
    &--hide{
      animation: fadeOutSlide .4s ease forwards;
      z-index: -1;
    }
    @include breakpoint(sm){
      bottom: 120px;
    }
  }
  &__question{
    text-align: center;
    margin-bottom: 16px;
    padding: 1px;
    border-radius: 8px;
    // background-image: linear-gradient(to right,#01233D, #B2D6DE 50%, #01233D);
    background-image: linear-gradient(to right,#01213A, #fdf8ef, #01213A);
    &-inner{
      padding: 12px;
      border-radius: 8px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-image: radial-gradient(ellipse at 50% 10%, #032f4a, #000);
      img{
        width: 100%;
        height: 112px;
        border-radius: 4px;
        object-fit: cover;
        display: block;
        margin: 0 0 16px;
        @include breakpoint(sm){
          height: 220px;
        }
      }
      span{
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        line-height: 1.25;
        font-weight: 900;
        font-size: 16px;
        user-select: none;
      }
    }
  }
  &__content{
    &--text{
      .quiz{
        &__answer{
          &-btn{
            width: 100%;
            margin-bottom: 10px;
            @include breakpoint(sm){
              margin-bottom: 0px;
              margin-top: 16px
            }
            &:first-child{
              @include breakpoint(sm){
                margin-bottom: 0px;
                margin-top: 32px
              }
            }
            &:last-child{
              margin-bottom: 0px;
            }
          }
        }
      }

      .answer-btn{
        &--off{
          pointer-events: none;
        }

        &--active{
          .answer-btn{
            &__inner{
              background: linear-gradient(to left, #3176ae,#fdf8ef, #1e82d3);
            }
            &__val{   
              background-color: #093c65;
              color: $whitePrimary;
            }
          }
        }

        &--correct,
        &--wrong{
          .answer-btn{
            &__val{   
              color: $whitePrimary;
              &::after{
                content: '';
                display: block;
                width: 32px;
                height: 32px;
                position: absolute;
                right: 12px;
                z-index: 2;
                @include backgroundImg;
              }
            }
          }
        }

        &--correct{
          .answer-btn{
            &__inner{
              background: linear-gradient(to left, #caae89,#fdf8ef, #cea165);
            }
            &__val{   
              background-color: #8a7150;
              &::after{
                background-image: url(../img/answer-correct-txt.svg);
              }
            }
          }
        }

        &--wrong{
          .answer-btn{
            &__inner{
              background: linear-gradient(to left, #cd6669,#fdf8ef, #cd6669);
            }
            &__val{   
              background-color: #860408;
              &::after{
                background-image: url(../img/answer-wrong-txt.svg);
              }
            }
          }
        }
        &__inner{
          padding: 1px; 
          height: 40px; 
          line-height: 40px; 
          border-radius: 20px;
          box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
          background: linear-gradient(to left, #edb836,#fdf8ef, #cc7f30);
          position: relative;
          overflow: hidden;
          @include breakpoint(sm){
            box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.3);
          }
        }
        &__val{
          border-radius: 20px;
          height: 100%;
          padding: 0 16px;  
          background-color: #011327;
          color: #f0c177;
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 90%;
            position: relative;
            top: 1px;
          }
        }
      }
      
    }

    &--img{
      .quiz{
        &__answer{
          &-btn{
            width: 50%;
            padding: 4px;
            position: relative;
            @include breakpoint(sm){
              padding: 6px;
            }
            &:nth-child(odd){
              padding-left: 0;
            }
            &:nth-child(even){
              padding-right: 0;
            }
            &:nth-child(1),
            &:nth-child(2){
              padding-top: 0;
            }
            &:nth-child(3),
            &:nth-child(4){
              padding-bottom: 0;
            }
          }
        }
      }
      .answer-btn{
        width: 100%;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.7);

        &--disabled{
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
          pointer-events: none;
          &::before{
            content: '';
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

        &--active{
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
          pointer-events: none;
          .answer-btn{
            &__inner{
              padding: 2px;
              background: linear-gradient(to bottom, #3176AD,#AAC3D5, #3176AD);
            }
          }
        }

        &--correct,
        &--wrong{
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.7);
          .answer-btn{
            &__inner{
              padding: 2px;
            }
            &__val{
              display: flex;
              align-items: center;
              justify-content: center;
              &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
              }
              &::after{
                content: '';
                display: block;
                width: 50%;
                height: 50%;
                position: absolute;
                z-index: 2;
                @include backgroundImg;
              }    
            }
          }
        }

        &--correct{
          .answer-btn{
            &__inner{
              background: linear-gradient(to bottom, #edb836,#fdf8ef, #cc7f30);
            }
            &__val{
              &::before{
                background-color: rgba(145, 121, 90, 0.5);
              }
              &::after{
                background-image: url(../img/answer-correct.svg);
              }    
            }
          }
        }

        &--wrong{
          .answer-btn{
            &__inner{
              background: linear-gradient(to bottom, #cd6669,#fdf8ef, #cd6669);
            }
            &__val{
              &::before{
                background-color: rgba(84, 1, 3, 0.5);
              }
              &::after{
                background-image: url(../img/answer-wrong.svg);
              }    
            }
          }
        }
        
        &__inner{
          padding: 1px;   
          border-radius: 6px;
          background: linear-gradient(to bottom, #edb836,#fdf8ef, #cc7f30);
          position: relative;
          overflow: hidden;
          width: 100%;
          height: calc((100vw - 56px) / 2);
          @include breakpoint(sm){
            height: calc((100vw - 263px) / 2);
          }
        }
        &__val{
          height: 100%;
          border-radius: 6px;
          @include backgroundImg;
          position: relative;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          span{
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 8px;
            border-radius: 0 0 6px 6px;
            font-weight: 900;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
            letter-spacing: .3px;
            line-height: 1;
          }
        }
      }
    }
  }
  &__answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-btn{
      height: 100%;
    }
      
  }
  &__of{
    font-size: 12px;
    text-align: center;
    opacity: .8;
    margin: 16px 0;
    font-family: 'AvenirBook';
  }

  &__score{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 32px);
    &-blur{
      -webkit-backdrop-filter: blur(11px);
      filter: blur(11px);
    }
    &-inner{
      min-width: 20px;
      padding: 7px 16px;
      border-radius: 27.5px;
      display: flex;
      align-items: flex-end;
      
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.25);
      span{
        position: relative;
        top: 2px;
        display: inline-block; 
        font-size: 30px;
        font-weight: 900;
        letter-spacing: .8px;
        line-height: 32px;
        margin-right: 4px;
      }
    }
  }
}