@font-face {
  font-family: 'AvenirBook';
  font-display: auto;
  src: url(../font/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: 'AvenirHeavy';
  font-display: auto;
  src: url(../font/AvenirLTStd-Heavy.otf);
}

@font-face {
  font-family: 'SPProText';
  font-display: auto;
  src: url(../font/SF-Pro-Text-Regular.otf);
}

@import './global/color';
@import './global/mixin';
@import './global/core';
@import './icon';
@import './button';
@import './loader';
@import './dialog';
@import './search';
@import './menu';
@import './base';

@import './home';
@import './quiz';
@import './over';
@import './leaderboard';


