@font-face {
  font-family: 'AvenirBook';
  src: url(../font/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url(../font/AvenirLTStd-Heavy.otf);
}

@font-face {
  font-family: 'SPProText';
  src: url(../font/SF-Pro-Text-Regular.otf);
}

@import './global/color';
@import './global/mixin';
@import './global/core';
@import './icon';
@import './button';
@import './dialog';

.landing-page{
  position: relative;
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.36);
    background-image: radial-gradient(circle at 9% 67%, #2a2e69, #181035);
    color: $whitePrimary;
    font-size: 10px;
    &-text{
      margin: 0;
    }
    &-num{
      display: flex;
      align-items: center;
      &::before{
        content: '';
        display: block;
        width: 8px;
        height: 11px;
        margin-right: 4px;
        @include backgroundImg;
        background-image: url(../icon/participant.svg);
      }
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    &-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      a{
        &:first-child{
          margin-right: 16px;
        }
      }
    }

    .menu{
      &::before{
        content: '';
        display: block;
        width: 29px;
        height: 29px;
        @include backgroundImg;
      }
      &--back{
        &::before{
          background-image: url(../icon/back.svg);
        }
      }
      &--leaderboard{
        &::before{
          background-image: url(../icon/leaderboard.svg);
        }
      }
      &--share{
        &::before{
          background-image: url(../icon/share.svg);
        }
      }
    }
  }
  &__container{
    height: calc(100vh - 30px);
    @include backgroundImg;
    background-position: top;
    background-image: url(../img/main.jpg);
  }
  &__logo{
    display: block;
    max-width: 80%;
    height: auto;
    position: relative;
    left: 5px;
    // animation: zoomIn duration timing-function delay iteration-count direction fill-mode;
    animation-name: zoomIn;
    animation-duration: 3.5s;
    // animation-delay: 2s;
    @include keyframes(zoomIn){
      0%{
        transform: scale(0)
      }
      // 50%{
      //   transform: scale(0.5)
      // }
      100%{
        transform: scale(1)
      }
    }
  }
  &__title{
    margin: 0 0 24px;
    font-size: 40px;
    text-transform: uppercase;
    // width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    // &::before{
      // content: '';
      // position: absolute;
      // z-index: 1;
      // display: block;
      // width: 100%;
      // height: 50px;
      @include backgroundImg;
      background-image: url(../icon/quiz-bg.png);
    // }
    
  }
  &__action{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__desc{
    font-size: 12px;
    font-weight: 900;
    color: $whitePrimary;
    opacity: .7;
    margin: 0 0 8px;
  }
}

