$whitePrimary: rgb(255,255,255);
$whiteHex1 :rgb(241, 241, 241);
$whiteHex2: rgb(246, 246, 246);
$whiteHex3: rgb(224, 224, 224);
$blackPrimary: rgba(0,0,0,.7);
$blackSecondary: rgba(0,0,0,.54);
$blackDisabled: rgba(0,0,0,.38);
$black12: rgba(0, 0, 0, 0.12);
$grayBorder: #e0e0e0;
$green: #42b549;

$f12: 0.85714rem;
$f13: 0.92857rem;
$f14: 1rem; 
$f16: 1.14286rem;
