

html,
body {
  font-size: 14px;
  // font-family: 'SPProText';
  &.lock {
    overflow: hidden;
  }
}

body {
  margin: 0;
  color: #333;
  background-color: $whitePrimary;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

li,
ol{
  padding: 0;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-1{
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2{
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3{
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-6{
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8{
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9{
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10{
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11{
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12{
  flex: 0 0 100%;
  max-width: 100%;
}