.quiz {
    background-image: url(../img/tokopedia/bg-general_quiz.jpg);
    @include breakpoint(sm) {
        background-image: url(../img/tokopedia/bg-general_quiz.jpg);
    }
    &__menu{
        align-items: center;
        padding-top: 3px; 
        .menu{
            &__score{
                background-color: rgba(0,0,0,.7);
            }
        }
    }
    &__time{
        background-color: #000;
        box-shadow: 0 0 10px 0 #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Avenir;
        font-size: 24px;
        font-weight: 900;
    }
    &__question {
        padding: 0;
        background: none;
        &-inner {
            padding-bottom: 8px;
            background: none;
            span {
                font-size: 18px;
                text-shadow: none;
                font-weight: bold;
            }
        }
        &--img{
            padding: 12px 24px;
            border-radius: 8px;
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &__content {
        position: fixed;
        &--text {
            .answer-btn {
                &--active {
                    .answer-btn {
                        &__inner {
                            background: none;
                        }
                        &__val {
                            background-color: #999;
                            color: $whitePrimary;
                        }
                    }
                }
                &--correct,
                &--wrong {
                    .answer-btn {
                        &__val {
                            color: $whitePrimary;
                        }
                    }
                }
                &--correct {
                    .answer-btn {
                        &__inner {
                            background: none;
                        }
                        &__val {
                            background-image: radial-gradient(circle at 97% 50%, #26dc46, #03ac0e);
                            &::after {
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI4IDI4Ij4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2IDYpIj4gICAgICAgIDxjaXJjbGUgY3g9IjgiIGN5PSI4IiByPSI4IiBmaWxsPSIjRkZGIi8+ICAgICAgICA8cGF0aCBmaWxsPSIjNDJCNTQ5IiBzdHJva2U9IiM0MkI1NDkiIHN0cm9rZS13aWR0aD0iLjc1IiBkPSJNMTEuMjI1IDQuNjkyYS44NDQuODQ0IDAgMSAxIDEuMTk0IDEuMTk0bC01LjI0MyA1LjI0M2EuODQ0Ljg0NCAwIDAgMS0xLjE5MyAwTDMuMTM2IDguMjgzQS44NDQuODQ0IDAgMCAxIDQuMzMgNy4wODlsMi4yNSAyLjI0OSA0LjY0NS00LjY0NnoiLz4gICAgPC9nPjwvc3ZnPg==);
                            }
                        }
                    }
                }
                &--wrong {
                    .answer-btn {
                        &__inner {
                            background: none;
                        }
                        &__val {
                            background-image: radial-gradient(circle at 97% 50%, #ff5c84, #d6001c);
                            &::after {
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI4IDI4Ij4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2IDYpIj4gICAgICAgIDxjaXJjbGUgY3g9IjgiIGN5PSI4IiByPSI4IiBmaWxsPSIjRkZGIi8+ICAgICAgICA8cGF0aCBzdHJva2U9IiNFRjE0NEEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNC40NDQgMTEuNTU2bDcuMTEyLTcuMTEyTTQuNDQ0IDQuNDQ0bDcuMTEyIDcuMTEyIi8+ICAgIDwvZz48L3N2Zz4=);
                            }
                        }
                    }
                }
                &__inner {
                    padding: 0;
                    border-radius: 26px;
                    box-shadow: none;
                    background-color: $whitePrimary;
                    @include breakpoint(sm) {
                        box-shadow: none;
                    }
                }
                &__val {
                    border-radius: 26px;
                    background-color: $whitePrimary;
                    color: rgba(0,0,0,.7);
                    font-weight: 600;
                    padding-left: 16px;
                }
            }
        }
        &--img {
            .answer-btn {
                box-shadow: none;
                &--active {
                    box-shadow: none;
                    .answer-btn {
                        &__inner {
                            padding: 0;
                            background: none;
                        }
                    }
                }
                &--correct,
                &--wrong {
                    box-shadow: none;
                    .answer-btn {
                        &__inner {
                            padding: 0px;
                        }
                    }
                }
                &--correct {
                    .answer-btn {
                        &__inner {
                            background: none;
                        }
                        &__val {
                            &::before {
                                background-color: rgba(3, 172, 14, 0.3);
                            }
                            &::after {
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCIgdmlld0JveD0iMCAwIDYwIDYwIj4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCAxMCkiPiAgICAgICAgPGNpcmNsZSBjeD0iMjAiIGN5PSIyMCIgcj0iMjAiIGZpbGw9IiNGRkYiLz4gICAgICAgIDxwYXRoIGZpbGw9IiMwM0FDMEUiIHN0cm9rZT0iIzAzQUMwRSIgc3Ryb2tlLXdpZHRoPSIuNzUiIGQ9Ik0yNy4wNTIgMTMuODRhMS43MjcgMS43MjcgMCAxIDEgMi40NDIgMi40NDFMMTguNzcgMjcuMDA1YTEuNzI3IDEuNzI3IDAgMCAxLTIuNDQyIDBsLTUuODIyLTUuODJhMS43MjcgMS43MjcgMCAwIDEgMi40NDItMi40NDNsNC42IDQuNiA5LjUwNC05LjUwM3oiLz4gICAgPC9nPjwvc3ZnPg==);
                            }
                        }
                    }
                }
                &--wrong {
                    .answer-btn {
                        &__inner {
                            background: none;
                        }
                        &__val {
                            &::before {
                                background-color: rgba(214, 0, 28, 0.3);
                            }
                            &::after {
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCIgdmlld0JveD0iMCAwIDYwIDYwIj4gICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCAxMCkiPiAgICAgICAgPGNpcmNsZSBjeD0iMjAiIGN5PSIyMCIgcj0iMjAiIGZpbGw9IiNGRkYiLz4gICAgICAgIDxnIHN0cm9rZT0iI0Q2MDAxQyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMi4yMjIgMjcuNzc4bDE1LjU1Ni0xNS41NTZNMTIuMjIyIDEyLjIyMmwxNS41NTYgMTUuNTU2Ii8+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=); 
                            }
                        }
                    }
                }
                &__inner {
                    padding: 0;
                    background: none;
                    height: calc((100vw - 56px) / 2);
                    @include breakpoint(sm) {
                        height: calc((100vw - 263px) / 2);
                    }
                }
                &__val {
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &__score {
        border-radius: 27.5px;
        height: 55px;
        width: 193px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        &-inner {
            height: 100%;
            max-width: 100%;
            padding: 7px 16px 14px 16px;
            align-items: flex-end;
            justify-content: center;
            box-shadow: none;
            z-index: 1;
            position: relative;
        }
        &-background{
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            border-radius: 27.5px;
            &::before, div{
                content: '';
                background-image: url(../img/tokopedia/bg-general_quiz.jpg);
                // background-image: url(../img/bg-quiz.jpg);
                background-size: 100vw 100vh;
                background-position: center -66px;
                position: absolute;
                background-repeat: no-repeat;
                left: -25px;
                right: -25px;
                top: -25px;
                bottom: -25px;
                filter: blur(11px);
                z-index: 0;
            }
        }
        &--wrong{
            .quiz__score{
                &-inner {
                    background-color: rgba(214, 0, 28, 0.5);
                }
            }
        }
    }
}